* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    
}

.div1 {
    background-image: url('images/backgr_image.jpg');
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size:cover;
     
}

.myDropdownBtn {
    margin-right: 10px;
    
}

.pok1_extr, .pok2_extr, .pok3_extr {
    display: none;
}

p, button {
    margin: 10px;
}

button {
    background: lightgreen;
    border-color: lightgreen;
    padding: 10px;
}

.div_footer {
  margin-left: 10px;  
}

input {
    margin-left: 20px;
    padding: 10px;
    width: 450px;
}

input:focus {
    background-color: lightyellow;
    border-color: red;
    
}


